.figure{
    display: flex;
    margin: 0%;
}
.caption{
    margin-left: 5%;
    
}
div{
    background-color: rgb(73, 121, 110);
    padding: 100px 100px 100px 100px;
}
body{
    background-color: rgb(229, 236, 234);
    
}
.image{
    position: sticky;
    top: 20%;
}